{% extends 'base.html.twig' %}

{% block title %}FonctionSfd{% endblock %}

{% block body %}
    <h1>FonctionSfd</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fonction_sfd.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ fonction_sfd.libelle }}</td>
            </tr>
            <tr>
                <th>Sigle</th>
                <td>{{ fonction_sfd.sigle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_fonction_sfd_index') }}">back to list</a>

    <a href="{{ path('app_fonction_sfd_edit', {'id': fonction_sfd.id}) }}">edit</a>

    {#{ include('fonction_sfd/_delete_form.html.twig') }#}
{% endblock %}
